
<div>
    <section>
        @Html.Partial("_Editor", this.ViewData)
        <article id="problemDescription">
            @ViewBag.ProblemDescription
        </article>
    </section>
    Solution: <input type="text" id="proposedSolution" />
    <button type="button" id="evaluate">evaluate</button>
    <button type="button" id="submit">Submit</button>
    <span class="correct-answer">Congratulations! You got the right answer.  Click the link to pick the next @Html.ActionLink("Problem", "Index", "Home"). </span>
    <span class="wrong-answer">Sorry that was not the right answer.  Please try again.</span>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    @Html.Raw(ViewBag.SetupJavaScriptCode)

    debugger;
    $(document).ready(function () {
        $("#submit").click(function () {
            debugger;
            $.post("", {problemId:@ViewBag.ProblemId, problemInstanceId:@ViewBag.ProblemInstanceId, proposedSolution:$("#proposedSolution").val(), solutionCode: editor.getValue()}, function(result) {
                debugger;
                if (result)
                {
                    $(".correct-answer").show();
                    $(".wrong-answer").hide();
                }
                else
                {
                    $(".correct-answer").hide();
                    $(".wrong-answer").show();
                }
            }, "json");
        });

        $("#evaluate").click(function () {
            var result = eval(editor.getValue());
            $("#proposedSolution").val(result);

        });
    });

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai")
    editor.getSession().setMode("ace/mode/javascript");

</script>
